.header {
  height: 10vh;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input--search {
  background-color: #eee;
  border: none;
  border-radius: 100px;
  padding: 1rem;
  font-size: 1.7rem;
  height: min-content;

  transition: all 0.2s;
}

.input--search:focus {
  outline: none;
  transform: scaleX(1.08);
}
