.main {
  background-color: #ccc;
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 6rem 3rem;
}

.user__name {
  font-size: 2.6rem;
}

.user__account {
  margin-right: 3rem;
}

.techs {
  list-style: none;
  font-size: 1.7rem;
}

.user__details {
  width: 100%;
  text-align: center;
}

.user__img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  margin: 2rem auto;
}

.repos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 4rem;
}

.repo {
  list-style: none;
  cursor: pointer;
  width: 20rem;
  min-height: 13rem;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 3px 3px 5px 2px rgb(0 0 0 / 50%);
  border-radius: 10px;
  transition: all 0.5s;
}

.repo:hover {
  transform: scale(1.04);
}

.repo h4 {
  font-size: 2rem;
}
.repo p {
  font-size: 1.4rem;
}

.repo a {
  text-decoration: none;
  color: rgb(2, 2, 22);
}
