<main class="main">


   <div class="user">

      <div class="user__account">


         <h2 class="heading-2 user__name"> David Kiama </h2>
         <img src='https://avatars.githubusercontent.com/u/38817867?v=4'
            class="user__img">

         <h3 class="heading-3">Technologies</h3>
         <ul class="techs">
            <li class="tech">Angular</li>
            <li class="tech">JavaScript</li>
            <li class="tech">Typescript</li>
            <li class="tech">HTML & CSS</li>
         </ul>
      </div>

      <div class="user__details">


         <ul class="repos">
            <li class="repo" *ngFor=" let repo of repos">

               <h4 class="heading-4"> {{repo.name}} </h4>
               <p> {{repo.created_at | date: 'dd/MM/yyyy'}} </p>
               <a href={{repo.html_url}}> Link</a>

            </li>
         </ul>
      </div>
   </div>


</main>