<app-header></app-header>

<main class="main">

   <form (ngSubmit)="searchUser()">


      <input type="search" [(ngModel)]="username" placeholder="Search" name="username"
         class="input--search">


      <input type="submit" class="btn btn--submit" value="Submit">

   </form>


   <div class="user">

      <img src={{user.avatar_url}} class="user__img">

      <div class="user__details">
         <h2 class="heading-2"> {{user.login|uppercase}} </h2>

         <ul>
            <li>
               {{repos}}
            </li>
         </ul>
      </div>
   </div>


</main>